.icon {

	$marginRight: 4;
	@while $marginRight <= 64 {
		&.mr#{$marginRight} {
			margin-right: #{$marginRight}px
		}
		$marginRight: $marginRight + 4;
	}

	$marginLeft: 4;
	@while $marginLeft <= 64 {
		&.ml#{$marginLeft} {
			margin-left: #{$marginLeft}px
		}
		$marginLeft: $marginLeft + 4;
	}
}