.navigation {
	display: flex;
	justify-content: space-between;

	.icon {
		display: inline-block;
		width: 24px;
		aspect-ratio: 1;
		color: var(--md-sys-color-on-tertiary-container);

		svg {
			height: unset;
		}
	}

	.navigationContent {
		padding: 12px;
		background-color: var(--md-sys-color-tertiary-container);
		position: fixed;
		right: -250px;
		top: 0;
		height: 100lvh;
		max-width: 250px;
		width: 100%;

		transition: right 0.25s ease-in-out;
		
		&.open {
			right: 0;
		}

		.navigationItem {
			padding: 4px 8px;
			display: block;

			a {
				color: var(--md-sys-color-on-tertiary-container);
			}

			&.toggleNavigation {
				position: absolute;
				top: 12px;
				right: 24px;
			}
		}
	}

	.toggleNavigation:hover {
		cursor: pointer;
	}
}

@media screen and (min-width: 600px) {
	.navigation {
		align-items: center;

		.navigationContent {
			display: block;
			position: static;
			background-color: unset;
			max-width: unset;
			width: unset;
			height: unset;
			flex-grow: 1;
			flex-basis: 100%;

			.navigationItem {
				display: inline-block;
				margin: unset;
				padding: 4px 16px;
				border: 1px solid var(--md-sys-color-outline);
				border-radius: 12px;

				&:not(:last-child) {
					margin-right: 1rem;
				}

				svg {
					margin-right: 1rem;
				}
			}
		}

		.toggleNavigation {
			display: none !important;
		}
	}
}