header {
	background-color: var(--md-sys-color-primary-container);
	color: var(--md-sys-color-on-primary-container);
	padding: 12px 0px;
	border-bottom: 1px solid var(--md-sys-color-primary);

	h1 {
		margin: unset;
	}
}

main {
	padding: 12px 0px;
	padding-bottom: 64px;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: var(--md-sys-color-tertiary-container);
	border-top: 1px solid var(--md-sys-color-tertiary);
	color: var(--md-sys-color-on-tertiary-container);
	padding: 8px 0px;

	> div {
		display: flex;
		justify-content: space-between;

		p {
			margin: unset;
		}

		#authors {
			span {
				&:not(:last-child) {
					margin-right: 8px;
				}
			}
		}
	}
}

@media screen and (min-width: 600px) {
	header {
		text-align: left;

		nav {
			display: flex;
		}

		#toggle-navigation {
			display: none;
		}
	}
}